<p>Hello <%= @user.name %>,</p>

<p><%= @admin.name %> has approved your membership to <%= link_to @club.name, club_url(@club) %></p>

<p>Thank you for using <%= link_to "Columbia Yak Attack Gear Swap", "http://gearswap.ctrl-r.com" %></p>
