<p><%= @user.name %> has reported the following club as abusive:</p>

<p><%= @club.name %></p>

<p><%= link_to "View Club", club_url(@club) %></p>

<p>Thank you for using <%= link_to "Yak Attack Gear Swap", "http://gearswap.ctrl-r.com" %></p>
