<p><%= @user.name %> has reported the following pin as abusive:</p>

<p><%= @pin.description %></p>

<p><%= link_to "Open Pin", pin_url(@pin) %></p>

<p>Thank you for using <%= link_to "Columbia Yak Attack Gear Swap", "http://gearswap.ctrl-r.com" %></p>
