<p>Hello <%= @pin.user.name %>,</p>

<p><%= @user.name %> has requested contact regarding the following item on Columbia Yak Attack Gear Swap:</p>

<p><%= @pin.description %></p>

<p>You can reply to this message to respond.</p>

<p>Thank you for using <%= link_to "Yak Attack Gear Swap", "http://gearswap.ctrl-r.com" %></p>
