<% if user_signed_in? %>
	
<% else %>
	<div class="hero-unit" style="text-align: center">
		<h2>Welcome to Yak Attack Gear Swap!</h2>
		<p>
			<%= image_tag("gearPic1.jpg", :size => "640x480") %>
		</p>
		<p>
			A gear swap site for friends to borrow and trade kayaking gear. Users can upload photos and descriptions of gear they are willing to swap/loan or sell to others on this site.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>
