<h1>About</h1>

<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. This is the sample application.
</p>

<p>This is an idea for a local gear swap site for friends. We will be able to upload photos and descriptions of gear we are willing to swap/loan to others in the area on this site.</p>

<p>As of right now, it is an idea... I am going to see if I can make my project in this class a working model to improve upon. If I can pull it off, it might be something my kayaking friends and I can really use since we are always asking about gear anyway.</p>

<p>I imagine it will eventually have the ability to show if the gear is currently loaned out and maybe even who has it. This would help in remembering who you loaned your gear to and how long they have had it.</p>

<p>There are so many ways this could be improved upon, but right now I am going to concentrate on the basics of posting images and descriptions of gear available.</p>
