<h1>About</h1>

<p>A gear swap site for friends to trade kayaking gear. Users can upload photos and descriptions of gear they are willing to swap/loan or sell to others on this site.</p>

<p>
	This is the application I developed as my project for <%= link_to "One Month Rails", "http://onemonthrails.com" %>. One Month Rails	is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month.
</p>
