<div class="hero-unit">
	<h1>Welcome to Columbia Yak Attack Gear Swap!</h1>
	<p>
		You've found the home page for the
		<%= link_to "Columbia Yak Attack", "https://www.facebook.com/groups/COLA.YAK.ATTACK/" %>
		Gear Swap.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
