<div class="hero-unit">
	<h2>Welcome to Columbia Yak Attack Gear Swap!</h2>
	<p>
		<%= image_tag("gearPic1.jpg", :size => "640x480") %>
	</p>
	<p>
		You've found the home page for the
		<%= link_to "Columbia Yak Attack", "https://www.facebook.com/groups/COLA.YAK.ATTACK/" %>
		Gear Swap.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
