<div class="footer">
	<small>
		Created with help from <%= link_to "One Month Rails", "http://onemonthrails.com"%>
		by <%= link_to "Mattan Griffel", "http://mattangriffel.com"%><br />
		Please submit errors and/or feature requests here: <%= link_to "Github Issue Tracker", "https://github.com/Ctrl-R/omrails/issues" %>
	</small>
</div>